/* Reset and base styles  */

* {
    padding: 0px;
    margin: 0px;
    border: none;
}


/* Links */

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}


/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
    margin: auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}


/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}

* {
    margin: auto;
    padding: 0px;
}

body {
    position: relative;
    margin: auto;
    width: 1920px;
    height: 850px;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: #151515;
    min-width: 1920px;
    height: 140px;
}

.logo {
    position: relative;
    left: 360px;
    top: 40px;
}

.nav-new-cars {
    color: var(--white, #FFF);
    text-decoration: none;
    /* menu */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 891px;
    top: 76px;
}

.nav-pre-owned-cars {
    color: var(--white, #FFF);
    text-decoration: none;
    /* menu */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 1013px;
    top: 76px;
}

.nav-finance {
    color: var(--white, #FFF);
    text-decoration: none;
    /* menu */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 1197px;
    top: 76px;
}

.nav-lease-vs-buy {
    color: var(--white, #FFF);
    text-decoration: none;
    /* menu */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 1304px;
    top: 76px;
}

.nav-contact-us {
    color: var(--blue, #06F);
    text-decoration: none;
    /* menu */
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    left: 1454px;
    top: 76px;
}

h1 {
    color: var(--black, #151515);
    /* H1 */
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    justify-content: center;
    position: relative;
    top: 100px;
}

h2 {
    color: #000;
    /* H2 */
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    justify-content: center;
    position: relative;
    top: 118px;
}

.form {
    background: var(--white, #FFF);
    position: absolute;
}

.name {
    font-family: 'Inter';
    width: 270px;
    height: 57px;
    border: 1px solid var(--blue, #06F);
    background: var(--white, #FFF);
    position: absolute;
    top: 170px;
    left: 670px;
    padding-left: 10px;
}

.mail {
    font-family: 'Inter';
    width: 270px;
    height: 57px;
    border: 1px solid var(--blue, #06F);
    background: var(--white, #FFF);
    position: absolute;
    top: 170px;
    left: 980px;
    padding-left: 10px;
}

.message {
    border: 1px solid var(--blue, #06F);
    background: var(--white, #FFF);
    width: 580px;
    height: 291px;
    flex-shrink: 0;
    font-family: 'Inter';
    position: absolute;
    top: 260px;
    left: 670px;
    padding-left: 10px;
    padding-top: 10px;
    resize: none
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}

.btn-btn-primary {
    position: relative;
    left: 100px;
    outline: none;
    box-shadow: none;
    position: relative;
    left: 770px;
    top: 600px;
}

.btn-submit {
    position: relative;
    left: 100px;
    outline: none !important;
}