article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@media only screen and (max-width: 1200px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
    .burger-icon active {
        display: none;
    }
    .nav-burger {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
}

@media only screen and (max-width: 1400px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
}

@media only screen and (max-width: 1440px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
}

@media only screen and (max-width: 1600px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
    .nav-burger {
        display: none;
    }
}

@media only screen and (max-width: 1175px) {
    body {
        max-width: 1200px;
    }
    .logo {
        left: 420px;
    }
    .nav {
        width: 1560px;
        left: -390px;
    }
    .nav-new-cars {
        display: none;
    }
    .nav-pre-owned-cars {
        display: none;
    }
    .nav-finance {
        display: none;
    }
    .nav-lease-vs-buy {
        display: none;
    }
    .nav-contact-us {
        display: none;
    }
    .nav-burger {
        display: flex;
    }
    .name-company {
        left: 0px;
    }
    .btn-find-a-car {
        left: 0px;
    }
    .main-2 {
        position: absolute;
        width: 1180px;
        left: -345px;
    }
    .header-name-1 {
        width: 530px;
    }
    .frame-1 {
        width: 297px;
    }
    .frame-2 {
        width: 271px;
    }
    .frame-3 {
        width: 1000px;
    }
    .lower-payments {
        width: 400px;
    }
    .frame-4 {
        width: 286px;
    }
    .easy-upgrade {
        width: 163px;
    }
    .main-3 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .main-4 {
        position: absolute;
        width: 2000px;
        left: -320px;
    }
    .important {
        position: relative;
        left: -25px;
    }
    .header-description-7 {
        width: 227px;
        left: 1280px;
    }
    .header-img-1 {
        width: 250px;
    }
    .header-img-2 {
        width: 250px;
    }
    .header-img-3 {
        width: 250px;
    }
    .header-img-4 {
        width: 250px;
        left: 1280px;
    }
    footer {
        left: -344px;
    }
    .nav-burger {
        display: none;
        flex-direction: column;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 50;
        overflow-y: auto;
        padding: 50px 40px;
        background-color: black;
        animation: burgerAnimation 0.4s;
    }
    .burger {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
    }
    .buurger {
        display: flex;
    }
    .burger-icon {
        display: flex;
    }
    p {
        text-decoration: none;
        color: #fff;
    }
}